body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.form-wrapper {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container form label {
    margin: 0.5rem 0;
    font-weight: 500;
}

.form-container form input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    outline: none;
    font-weight: 500;
    margin-bottom: 1rem;
}

.button-wrapper {
    padding: 1.5rem 0;
}

.button-wrapper button {
    width: 100%;
    padding: 1rem;
    background-color: #2D3E50;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 1.175rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-wrapper button:hover {
    background-color: #1B263B;
}